html {
    background:var(--background);
    font-weight: var(--p--weight);
    color: var(--text);
    font-family: var(--roboto);
    font-size: var(--p--fontSize);
    cursor: default;
}

body {
    margin: 0;
}

*, *:before, *:after {
    box-sizing:border-box;
}

img, 
picture {
    max-width: 100%;
    display: block;
    
}

.logo--sm {
    width: 75px;
    border-radius: 100px;
    box-shadow: var(--box-shadow-pos);
}

.logo {
    width: 30vw;
    border-radius: 100px;
    margin-bottom: 4rem;
    box-shadow: var(--box-shadow-pos);
}

:root {
    --roboto: 'Roboto Condensed', sans-serif;
    --quicksand: 'Quicksand', sans-serif;
    
    --boxshadow: inset 0 0 0 5px rgba(255,255,255,0.1);
    --box-shadow-neg: -4px -4px 8px rgba(0,0,0,.4);
    --box-shadow-pos: 4px -4px 8px rgba(0,0,0,.4);
    --box-shadow-head: 10px 10px 5px rgba(0,0,0, .4);

    --text: rgb(250, 235, 215);
   
    --background: rgb(17, 15, 15);
    
    --btn--background: black;
    --btn--borderRadius: 8px;
    
    --h1--fontSizesm: 60px;
    --h1--fontSize: 100px;
    --h2--fontSize: 50px;
    --h3--fontSize: 40px;
    --p--fontSize: 20px;
    --a--fontSize: 30px;

    --p--weight: 200;
    --h1--weight: 800;
    --h2--weight: 400;
    --h3--weight: 400;
    --a--weight: 600; 

    --p--lineHeight: 1.6;
    --heading--lineHeight: 1.2;
    
    --letterSpace: .1em;

    --padding:2rem;
    --border-radius: 10%;
}

h1 {
    font-size: var(--h1--fontSizesm);
    font-weight: var(--h1--weight);
    line-height: var(--heading--lineHeight);
    margin: 0;
}

h2 {
    font-size: var(--h2--fontSize);
    font-weight: var(--h2--weight);
    line-height: var(--heading--lineHeight);
}

h3 {
    letter-spacing: var(--letterSpace);
    font-size: var(--h3--fontSize);
    font-weight: var(--h2--weight);
}

p {
    font-size: var(--p--fontSize);
    font-weight: var(--p--weight);
    line-height: var(--p--lineHeight);
    letter-spacing: var(--letterSpace);
}

a {
    text-decoration: none;
    font-size: var(--a--fontSize);
    font-weight: var(--a--weight);
    color: var(--text);
   
}

li {
    list-style-type: none;
}

/* header {
    display: flex;
    flex-direction: column;
  
    gap: 1rem;
} */

.gallery--header {
    position: sticky;
    top: 0;
    z-index: 100;
    background: var(--background);
    padding: .5rem;
    padding-left: 2rem;
    font-size: 30px;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

header ul {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
}

.gallery--header--nav {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.gallery__header--list {
    border-radius: var(--btn--borderRadius);
    border: 2px solid var(--border-radius);
    background: var(--btn--background);
    opacity: .6;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    padding: .3rem;
}

.gallery__header--list:hover {
    opacity: .5;
}

.panels {
    margin: 0;
}


.panel1 {
    padding: var(--padding);
    /* height: 120vh; */
}

.panel3 {
    height: 100vh;
    padding: var(--padding);
}


.hero {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

.hero--content {
    display: none;
}



.heading--content {
    text-align: center;
}


.mobile,
.mobile--heading,
.mobile--heading--top {
   margin: 0;
}



 .hero--title {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    padding: 5% 0; 

}

.hero--mobile {
    height: 100vh;
    padding: 0 2rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    align-content: flex-end;
    position: absolute;

}

.mobile--hero--text {
    padding: 1rem;

}


.mobile--heading--top {
    font-size: 40px;
    
}

/* Buttons */

.button__gallery, 
.button__contact,
.btn--gallery--more,
.gallery__materials a{
    border-radius: var(--btn--borderRadius);
    border: 2px solid var(--border-radius);
    background: var(--btn--background);
    opacity: .6;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.btn--gallery--more {
    padding: .5rem;
}


.button__gallery {
    padding: .5rem 1rem;
    display: none;
}

.button__gallery--contact {
    display: none;
}

.button__contact {
    float: right;
    top: 0;
    z-index: 9000;
    display: none;
    font-size: var(--a--fontSize);
    color: antiquewhite; 
    padding: .5rem;
}

.gallery__materials a {
    padding: .5rem;
}

.button__gallery:hover,
.button__contact:hover,
.btn--gallery--more:hover,
.gallery__header--list:hover,
.gallery__materials a:hover  {
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    transform: translateY(-7px);
    opacity: .9;
}

.gallery__materials .link--active {
    opacity: 1;
}


#scrollToTopBtn {
    background: var(--background);
    color: antiquewhite;
    font-size: var(--h2--fontSize);
    /* font-weight: var(--a--weight);  */
    border-radius: none;
    outline: none;
    border: none;
    cursor: pointer;
    position: sticky;
    top: 0;
    float: right;
    justify-self: flex-end;
    padding: 0;
    opacity: .7;
    
}

.scrollToTop {
    z-index: 100;
}

.btn-send {
    height: 34px;
    overflow: hidden;
}

.btn-send:hover {
    cursor: pointer;
}

.alt-send-button {
    height: 34px;
    transition: all .2s ease-in-out;
}

.alt-send-button:hover {
    transform: translate3d(0px, -29px, 0px);
}

/* SVG */

.svg__container,
.svg__container--gallery {
    height: 40vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.svg__container--gallery {
    height: 25vh;
}


.svg,
.svg--gallery {
    height: 50%;
    justify-items: center;
    border: 2px solid antiquewhite ;
    border-radius: 50%;
    box-shadow: var(--box-shadow-head);
    
}
 
.path:hover {
    stroke-dasharray: 1;
    stroke-dashoffset: 0;
    animation: dash 5s linear;
    fill: none;
    
    
}

.path--active {
    stroke-dasharray: 1;
    stroke-dashoffset: 0;
    animation: dash 5s linear;
    fill: none;
}

.svg--style {
    stroke: antiquewhite;
    stroke-width: 20;
}

.svg--style-black {
    stroke: white;
   
    
}

@keyframes dash {
    0% {
        stroke-dashoffset: 1;
        opacity: .2;
       
    }

  

    90% {
        stroke-dashoffset: 0;
        opacity: 1;
        
        
    }

}




/* Gallery */

.container {
    margin-inline: auto;
    padding-inline: 2rem;
    padding-bottom: 3rem;
}

.stacked {
    display: grid;
}

.stacked > * {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.gallery-grid {
    display: grid;
    grid-template-columns: 
        repeat(auto-fit, 1fr);
    gap: 1rem;

}

.card {
    aspect-ratio: 1 / 1;

}

.card__img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    cursor: pointer;
    z-index: 90;
}




#lightbox {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 /.9);
    display: none;
}

#lightbox.active {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#lightbox img {
    max-width: 90%;
    max-height: 80%;
    padding: 4px;
    background-color: black;
    border: 2px solid white;
   

}

.gallery--more {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}

.final {
    display: none;
}

/* Gallery Carousel */

.gallery__title--content #icon,
.contact__title--content #icon {
   display: none;
}

.img__gallery--content {

    display: flex;
    flex-flow: column wrap;
    
    align-items: center;
    padding-bottom: 2rem;
  
}

.gallery__carousel {
    visibility: hidden;
    width: 0;
    height: 0;
    position: relative; 
    margin-bottom:1rem;
   
    
}

.gallery-info p {
    font-size: 30px;
}


.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
}

.slide[data-active] {
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
}

.slide > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 1/1;
}

.carousel-button {
    position: absolute;
    background: none;
    border: none;
    font-size: 2rem;
    top: 50%;
    z-index: 2;
    transform: translateY(-50%);
    color: rgb(250, 234, 214, .6);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
    background-color: rgba(0, 0, 0, 0.1);
}

.gallery--visible {
    visibility: visible;
    width: 80%;
    height: 40vh;
    overflow: hidden;
    margin-bottom: 1rem;
    
}

.carousel-button:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
}

.carousel-button.prev {
    left: 1rem;
}

.carousel-button.next {
    right: 1rem;
}

.gallery__materials {
    width: 100%;
    bottom: 0;
    position: sticky;
    background-color: var(--background);
    z-index: 100;

    padding: .05rem 0;
    margin: 0;
   
}

.material--list {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    margin-left: 0;
    padding: 0;

}

.material--list a {
    font-size: 15px;
}

/* Contact */

.panel3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3%;
    
}
.panel3 {
    /* height: 100vh; */
    padding-top: 0;
    
}
.email__form--container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    position: relative;
    padding: 0;
    margin: 0;
    align-items: center;
    width: 100%;
    height: 100%;
    
}

.panel3 .heading--content h2 {
    margin-bottom: 1rem;
}



.contact__form {
    display: flex;
    flex-direction: column;
    align-content: center; 
    justify-content: center;
    gap: .5rem;
    width: 99%;
    background:rgba(0, 0, 0, 0.5);
    padding: 2rem 3rem;
    border-radius: 15%;
}

.contact--email {
    font-size: smaller;
}

form-control, 
textarea, input {
    background-color: #000;
    color: #fff;
    letter-spacing: var(--letterSpace);
    font-family: var(--roboto);
    font-size: var(--p--fontSize);
    font-weight: var(--p--weight);
}

.send-text {
    display: block;
    margin-top: 10px;
    font: 700 12px var(--roboto);
    letter-spacing: 2px;
}

.icon--plane {
    font-size: 20px;
}

.personal__contact--container {
    font-size: 15px;
    font-weight: var(--p--weight);
    letter-spacing: var(--letterSpace);
    color: var(--antiqueWhite);
    text-transform: uppercase;
}

.personal__contact--list {
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: space-between;
    gap: 2rem;

}

.contact--li {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
}

.teleNumber {
    font-size: 15px;
}



@media (min-width: 60em) {

    .card__img {
        aspect-ratio: 1/1;
    }


    .card.featured {
        grid-row: span 2;
        grid-column: span 2;
    }

    .card.featured .card__title {
        font-size: 1.25;
    }

}

@media (min-width: 344px)
    and (max-width: 368px) {
        .gallery--header {
            font-size: larger;
        }
    }

@media (min-width: 380px) {
   .material--list li a {
       font-size: var(--p--fontSize);
   }
}


@media  (min-width: 700px){


    h1 {
        padding: 0;
        padding-left: 0;
    
    }
    .hero{
        flex-flow: row;
        justify-content: flex-start;
        align-content: flex-end;
        
    }

    .hero--title {
        padding: 0;
        justify-content:flex-start;
    }

    .hero--list {
        display: flex;
        flex-flow: row wrap;
        padding: 0;
        gap: 1rem;
        font-size: var(--p--fontSize);
        font-weight: var(--p--weight);
        letter-spacing: var(--letterSpace);
        justify-content: flex-start;
    }

    .hero--mobile {
        display: none;
    }

    .hero--content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 5vh;
        padding:  0rem 0rem 3rem 3rem;
        z-index: 80;
    }

    .hero--content--top h2{
        margin: 0;
        padding: 0;
        margin-top: 0;
        
    }
    .hero--text {
        width: 70%;
    }
   
   .button__contact {
        display: flex;
        z-index: 9000;
    }

    .button__gallery{
        display: block;
    }

    .svg {
        padding-left: 50vw;
        margin: 0;
        border: none;
        box-shadow: none;
    }

    .svg__container {
        position: absolute;
        opacity: .4;
        width: 90%;
        height: 100%;
        display: flex;
        justify-content: center;
        margin-top: 20vh;
        overflow: hidden;
        
    }
        
    .gallery--visible {
        visibility: visible;
        width: 90%;
        height: 60vh;
    }

    .contact__form {
        width: 70%;
    }

    .personal__contact--container,
    .teleNumber {
        font-size: 20px;
    }

    .teleNumber {
        cursor: pointer;
    }

    

    .gallery-grid {
        display: grid;
        grid-template-columns: 
/*             repeat(auto-fit, minmax(15rem, 1fr)); */
            repeat(auto-fit, 1fr)
        gap: 1rem;
    
    }
     #scrollToTopBtn {
        padding: 2px 6px;
    }

}

@media (min-width: 900px) {

    h1 {
        font-size: 80px;
        padding: 0;
        
    }

    .svg__container {
        height: 100vh;
        width: 50%;
        right: 0;
        display: block;
      
    }

    .svg {
        padding: 0;
        
        box-shadow: var(--box-shadow-head);
        margin-top: 20vh;
    }

    .hero--content {
        width: 65%;
        padding-left: 2rem;
    }

    .hero--text {
        width: 100%;
    }
}


@media (min-width: 1200px) {

    h1 {
        font-size: var(--h1--fontSize);
        margin: 0;
    }
    .contact__form {
        width: 40%;
        padding: 3rem 4rem;
    }

    .hero {
        padding-right: 0;
    }

    .hero--content {
        width: 65%;
        padding-left: 2rem;
        
    }

    .hero--list {
        flex-direction: row;
    }

    .hero--text {
        width: 55ch;
        margin-bottom: 20vh;
    }

    .svg__container {
        opacity: 1;
    }

    .svg {
        margin-top: 5vh;
        border: 2px solid antiquewhite;
    }
}

@media (min-width: 1340px) {

    .last {
        display: none;
    }

    .material--list a {
        font-size: 25px;
    }
}

@media (min-width: 1660px) {
    .last {
        display: block;
    }

    .final {
        display: block;
    }
}

@media (min-height: 500px) {
    .panel1 {
        height: 100vh;
    }
}

@media (min-height: 700px)  {
    textarea {
        height: 5em;
    }
}
